$HeaderBackground: url(../img/m-h-day.jpg);
$Gradient: linear-gradient(to right, #699900 , #1064d1);
$Underlinecolor: #359FC6;
$ButtonColor: #699900;
$ButtonColorhover: #8bc905;
$SectionCardcolor: #21232e;
$SectionTextColor: #000000;
