$HeaderBackground: url(../img/m-h-night.jpg);
$Gradient: linear-gradient(to right, #e0a703 , #922c53);
$Underlinecolor: #ff4e33; 
$ButtonColor: #e3ac00;
$ButtonColorhover: #ffc101;
$SectionCardcolor: #3b3f50;
$SectionTextColor: #ffffff;
